@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  /*Alterações que servem para a pagina toda*/
  margin: 0;
  padding: 0; /*espaçamento ao redor de um elemento*/
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease; /*tempo de resposta dos elementos*/
}
.slider {
  width: 800px;
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.slides {
  width: 900%;
  height: 1000px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  
}

.slide img {
  width: 200px;
  height: 600px;
  
}

li {
  display: block;
  float: flex;
  padding: 18px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
li:hover {
  background: #f08181;
  cursor: pointer;
}

ul li ul {
  background-color: #f08181;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 18px;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}

.nav-links li ul {
  background-color: #f08181;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 18px;
  display: none;
}
nav {
  z-index: 999;
  display: block;
  height: 70px;
  width: 100%;
  background: #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .navbar {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 30px;
  justify-content: space-between;
}
nav .navbar a {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.navbar .nav-links {
  display: flex;
}
.navbar .nav-links li {
  margin: 0 8px;
  list-style: none;
  display: flex;
}
.navbar .nav-links a {
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
}
.navbar .nav-links a:hover {
  opacity: 1;
}
.navbar .appearance {
  display: flex;
  align-items: center;
}
.home-content {
  width: 100%;
  background: #ebf3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}
.home-content h2 {
  color: #24292d;
  font-size: 50px;
}
.home-content h3 {
  color: #24292d;
  font-size: 42px;
  margin-top: -8px;
}
.home-content h3 span {
  color: #e0644f;
}

.home-content p {
  color: #24292d;
  font-size: 16px;
  width: 45%;
  text-align: justify;
  margin: 4px 0 30px 0;
}
.home-content a {
  color: #fff;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  background: #e0644f;
}
.home-content a i {
  transform: rotate(45deg);
  font-size: 16px;
}
.home-content a:hover {
  background: black;
}

.btns{
  position: absolute;
  top: 100px;
  left: 500px;
  display: flex;
}
.btn{
  background: transparent;
  border: none;
  font-size: px;
  margin: 10px 0px;
  outline: none;
  color: rgb(0, 0, 0);
  }
  .btn i:hover{
    cursor: pointer;
}

.carousel-inner {
  width: 200% !important;
}