@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{ /*Alterações que servem para a pagina toda*/
  margin: 0;  
  padding: 0; /*espaçamento ao redor de um elemento*/
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  transition: all 0.3s ease; /*tempo de resposta dos elementos*/
}

 table,th,td{ /*config da parte de dentro tabela*/
   width: 650px;
  border: 2px solid #f08181;
  border-collapse: collapse;
  align-items: center;

 
}
td{
text-align: center;

}
.tabela{
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #F0F8FF;
  
}
.imagens{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F0F8FF;
  border: 0px;
}
.imagens ul li{
  list-style-type: none;
  border: 0px;
  
}
.imagens ul li:hover{
  background: none;
  
}
li{
  display: block;
  float: flex;
  padding: 18px;
  position: relative;
  text-decoration: none;
  transition-duration:0.5s ;

}
li:hover{
  background: #f08181;
  cursor: pointer;

} 

ul li ul {
background-color: #f08181;
visibility: hidden;
opacity: 0;
position: absolute;
transition: all 0.5s ease;
margin-top: 18px;
left: 0;
display: none;


}
ul li:hover > ul, ul li ul:hover{
visibility: visible;
opacity: 1;
display: block;


} 
ul li ul li{
  clear: both;
  width: 100%;


}

.nav-links li ul{
background-color: #f08181;
visibility: hidden;
opacity: 0;
position: absolute;
transition: all 0.5s ease;
margin-top: 18px;
display:none ;


}
nav{
  position: fixed;
  z-index: 999;
  display: block;
  height: 70px;
  width: 100%;
  background: #e0644f;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
nav .navbar{
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 30px;
  justify-content: space-between;
}
nav .navbar a{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
 .navbar .nav-links{
   display: flex;
 }
 .navbar .nav-links li{
   margin: 0 8px;
   list-style: none;
   display: flex;
 }
 .navbar .nav-links a{
   font-size: 18px;
   font-weight: 400;
   opacity: 1;
 }
  .navbar .nav-links a:hover{
    opacity: 1;
  }
 .navbar .appearance{
   display: flex;
   align-items: center;
 }
.home-content{
  height: 100vh;
  width: 100%;
  background: #F0F8FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}
.home-content h2{
  color: #24292d;
  font-size: 50px;
}
.home-content h3{
  color: #24292d;
  font-size: 42px;
  margin-top: -8px;
}
.home-content h3 span{
  color: #e0644f;
}

.home-content p{
  color: #24292d;
  font-size: 16px;
  width: 45%;
  text-align: justify;
  margin: 4px 0 30px 0;
}
.home-content a{
  color: #fff;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  background: #e0644f;
}
.home-content a i{
  transform: rotate(45deg);
  font-size: 16px;
}
.home-content a:hover{
  background: black
}

